#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	cargo build --release

override_dh_auto_install:
	install -D -m 0755 target/release/openback debian/openback/usr/bin/openback
	install -D -m 0755 target/release/backcli debian/openback/usr/bin/backcli
	install -D -m 0644 packaging/openbackd.service debian/openback/lib/systemd/system/openbackd.service
	install -D -m 0644 packaging/openbackd.default debian/openback/etc/default/openbackd

override_dh_auto_clean:
	cargo clean
